/*main style for all page*/

* {
    box-sizing: border-box;
}
body {
    font-family: "Nunito Sans";
    max-width: 1366px;
    max-height: 3008px;
}
.main-container {
    margin: 0 auto;
    max-width: 1088px;
}
/*menu 1 page*/

.banner {
    background-image: url("../images/Image@2x.png");
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}
.container {
    justify-content: space-between;
    color: white;
    background-color: #00000066;
}
.page-header .container-head {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding: 0 141px;
    width: 100%;
    background-color: #00000066;
}
.page-logo {
    text-decoration: none;
    color: #FF0000;
    font-weight: 800;
    font-size: 35px;
}
.page-nav-list {
    display: flex;
    font-weight: 700;
    font-size: 16px;
}

/*hover for only header menu*/

.page-nav-list li:hover {
    background-color: #FFFFFF33;
    transition-duration: 1s;
    background-size: contain;
}
span {
    color: white;
    font-weight: 800;
}

/*banner 1 page*/

.banner::before {
    background-color: #111;
    opacity: 0.5;
    content: "";
    display: block;
    background-size: contain;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
}
.banner-content {
    position: relative;
    z-index: 1;
    text-align: center;
}
.article {
    padding-top: 87px;
}
.article-btn {
    padding: 22px 55px;
    text-decoration: none;
    border-radius: 40px;
    font-family: "Nunito Sans";
    font-weight: 700;
    margin-right: 25px;
}
.article-btn-red {
    background-color: #FF0000;
    color: white;
}
.article-btn-white {
    color: #FF0000;
    background-color: white;
}
.page-nav-list li {
    height: 88px;
    width: 128px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.page-nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.page-footer-nav-list a:hover {
    color: red;
}
.banner-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
}
.banner-title {
    font-weight: 900;
    font-size: 90px;
    height: 123px;
}

/*icon between 1 and 2 page*/

.icon-arrow-down {
    background-color: #FF0000;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 55px / 2);
    top: calc(-55px/2);
}
.container-icon {
    position: relative;
    margin-bottom: 65px;
}

/*header page 2 - blog*/

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 35px;
}
.title::after,
.title::before{
    content: "";
    display: block;
    height: 3px;
    background: #FF0000;
    width: 50px;
}
.title strong {
    padding: 10px;
}
/*articles page 2 - blog*/

.container-articles {
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}
.article-blog {
    height: 234px;
    width: 352px;
}
.article-title-blog {
    padding-top: 25px;
    font-family: "Nunito Sans";
    font-weight: 400;
    text-transform: uppercase;
}
.article-text-blog {
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 20px;
    font-family: "Open Sans";
    font-weight: 300;
}
.article-btn-blog {
    padding-top: 26px;
    display: flex;
    font-family: "Nunito Sans";
    font-weight: 700;
    margin-bottom: 80px;
    background-color: #FF0000;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-size: 14px;
    width: 142px;
    height: 40px;
    padding: 11px 29px;
    align-items: center;
}
.article-btn-blog:hover {
    color: #28272C;
}

/*header page 3 - service*/

.title-service {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 35px;
}
.title-service::after,
.title-service::before {
    content: "";
    display: block;
    height: 3px;
    background: #FF0000;
    width: 50px;
}
.title-service {
    padding-top: 60px;
    color: white;
}
.title-service strong {
    padding: 10px;
}
.blog-service {
    background-color: #28272C;
    margin-top: 300px;
    height: 100vh;
}
.container-articles-service {
    display: flex;
    padding-top: 75px;
    text-align: center;
}
.article-service-img {
    width: 170px;
    height: 170px;
    margin: auto;
    display: flex;
}
.article-service {
    width: calc(100% / 4);
    margin-right: 31px;
}
/*styles of articles - page 3*/

.article-title-service,
.article-text-service {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 25px;
}
.article-title-service {
    font-size: 19px;
    font-family: "Nunito Sans";
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}
.article-text-service {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #B2B2B2;
}
.article-btn-service {
    background-color: #FF0000;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-weight: 700;
    font-size: 14px;
    width: 142px;
    height: 40px;
    padding: 11px 29px;
}
.article-btn-service:hover {
    color: #222222;
}
/*styles of articles - page 4*/

.title-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 35px;
    padding-top: 100px;
    padding-bottom: 35px;
}
.title-contact::after,
.title-contact::before {
    content: "";
    display: block;
    height: 3px;
    background: #FF0000;
    width: 50px;
}
.title-contact strong {
    padding: 10px;
}
.form-container {
    display: flex;
    padding-left: 100px;
    padding-top: 81px;
}
.inputs-container {
    flex-direction: column;
    display: flex;
    padding-left: 12px;
}
input[type="text"],
input[type="email"]{
    margin-bottom: 20px;
    width: 444px;
    height: 38px;
}
textarea {
    margin-bottom: 20px;
    width: 444px;
    height: 140px;
}
input,
textarea {
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 400;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea[id="textarea"]:focus {
    border: 1px solid #FF0000
}
.checkbox {
    font-family: "Open Sans";
    font-size: 10px;
    cursor: pointer;
    display: flex;
    font-weight: 300;
    color: #B2B2B2;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    font-family: "Open Sans";
    font-size: 10px;
}
.checkbox span {
    flex-shrink: 0;
    border: 1px solid #D1D1D1;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 8px;
    height: 20px;
    width: 20px;
    background: no-repeat;
}
.checkbox input:checked + span {
    background-image: url("/icons/Icon Check.svg");
    background-size: 9px 13px;
    background-position: center;
}
.button-send {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 75px;
}
button {
    color: #FF0000;
    border: 1px solid #FF0000;
    border-radius: 40px;
    box-shadow: 0 3px 6px #FF00004D;
    width: 142px;
    height: 40px;
    background: none;
    margin-top: 10px
}

/*footer*/

.page-footer {
    background-color: #28272C;
    font-family: "Nunito Sans";
    padding-top: 50px;
    height: 262px;
}
.footer-row {
    display: flex;
}
.page-footer-nav-list a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.page-footer-nav-list li {
    margin-bottom: 10px;
}
.page-logo-footer {
    text-decoration: none;
    color: #FF0000;
    font-weight: 800;
    font-size: 25px;
}
.footer-list {
    padding-left: 139px;
}
.foot-header {
    margin-bottom: 50px;
    padding-left: 139px;
}
.page-footer-copyright {
    display: flex;
    height: 16px;
    width: 128px;
    font-size: 12px;
    color: white;
    margin-left: 473px;
    padding-top: 80px;
}